---
import {themeConfig} from '@/config.ts';
---
<div class="p-author h-card" hidden>
  <span class="p-name">Krystaline</span>
  <span class="p-nickname">kryst4line</span>
  <a class="u-url" href={themeConfig.site.website} />
  <a class="u-email" href={themeConfig.site.email} />
</div>