---
import IndexLayout from '@/layouts/IndexLayout.astro'
import { themeConfig } from '@/config'
import BskyStatusCard from '@/components/ui/BskyStatusCard.astro'
---

<IndexLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <p>
    fluffy dragoness in her early 30s, obsessed with videogames, technology, music and formula 1.
  </p>
  <p>
    your child calls me mommy too.
  </p>
  <p style="color: var(--text-link); font-weight: var(--font-weight-bold);">
    welcome to my domains.
  </p>

  <div style="margin-top: 2.75rem">
    <BskyStatusCard />
  </div>
</IndexLayout>