<div id="status">
  <p>
    Loading status...
  </p>
</div>

<style is:inline>
  #status {
    display: inline-block;
    width: 100%;
    background-color: var(--selection);
    border-radius: 6px;
    padding: 0 1em;
  }
  #status p {
    font-size: var(--font-size-s);
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
  }
  #status a {
    color: var(--text-link);
    text-decoration: underline;
    text-decoration-color: var(--text-tertiary);
    transition: text-decoration-color 0.2s ease-out;
  }
  #status a:hover {
    color: var(--text-link);
    text-decoration-color: var(--text-link);
  }
  #status-img-embed {
    display: flex;
  }
  #status-img-embed img {
    flex: 1;
    min-width: 0;
  }
  #status-ext-embed {
    background-color: var(--code-bg);
  }
  #status-ext-embed a {
    height: 3.5rem;
    display: flex;
    gap: 0.75rem;

    &:after {
      content: none;
    }
  }
  #status-ext-embed img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  #status-ext-info {
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #status-ext-title {
    font-weight: var(--font-weight-bold);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  #status-ext-desc {
    opacity: 0.75;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  #status-time {
    display: flex;
    justify-content: end;
  }
  #status-time a {
    text-align: right;
    font-style: italic;
  }
</style>

<script>
  import {AtpAgent} from '@atproto/api';
  import { isView as isViewImage } from '@atproto/api/dist/client/types/app/bsky/embed/images'
  import { isView as isViewExternal } from '@atproto/api/dist/client/types/app/bsky/embed/external'

  const bskyAgent = new AtpAgent({
    service: 'https://api.bsky.app'
  });

  document.addEventListener("astro:page-load", async function() {
    const response = bskyAgent.app.bsky.feed.searchPosts({
      limit: 1,
      q: 'from:dragon.gal #journal'
    });
    response.then(({success, data}) => {
      if (success) {
        // Text
        const post = data.posts[0];
        const status = document.getElementById("status");
        const statusText = document.createElement("p");
        statusText.innerText = post.record.text as string;
        status!.innerHTML = '';
        status!.appendChild(statusText);

        // Embed
        if (post.embed) {
          const statusEmbed = document.createElement("div");

          // Image embed
          if (isViewImage(post.embed)) {
            statusEmbed.id = "status-img-embed";
            const images = post.embed.images;

            images.forEach(image => {
              const statusImage = document.createElement("img");
              statusImage.src = image.thumb;
              statusImage.alt = image.alt;
              statusEmbed.appendChild(statusImage);
            })
          }

          // External embed
          if (isViewExternal(post.embed)) {
            statusEmbed.id = "status-ext-embed";
            const external = post.embed.external;

            const statusLink = document.createElement("a");
            statusLink.href = external.uri;
            statusLink.target = "_blank";

            if (external.thumb) {
              const externalImage = document.createElement("img");
              externalImage.src = external.thumb;
              externalImage.alt = 'Link thumbnail';
              statusLink.appendChild(externalImage);
            }

            const externalInfo = document.createElement("div");
            externalInfo.id = "status-ext-info";

            const externalTitle = document.createElement("span");
            externalTitle.id = "status-ext-title";
            externalTitle.innerText = external.title;
            externalInfo.appendChild(externalTitle);

            const externalDesc = document.createElement("span");
            externalDesc.id = "status-ext-desc";
            externalDesc.innerText = external.description;
            externalInfo.appendChild(externalDesc);
            statusLink.appendChild(externalInfo);
            statusEmbed.appendChild(statusLink);
          }

          status!.appendChild(statusEmbed);
        }

        // Time
        const postId = post.uri.substring(post.uri.lastIndexOf('/') + 1);
        const statusTime = document.createElement("p");
        statusTime.id = "status-time";
        const statusLink = document.createElement("a");
        statusLink.innerText = "— " + timeAgo(post.record.createdAt as string);
        statusLink.href = 'https://bsky.app/profile/dragon.gal/post/' + postId;
        statusLink.target = "_blank";
        statusTime.appendChild(statusLink);
        status!.appendChild(statusTime);
      }
    });
  }, false);

  function timeAgo(input: string | Date | number) {
    const date = (input instanceof Date) ? input : new Date(input);
    const formatter = new Intl.RelativeTimeFormat('en');
    const ranges = {
      years: 3600 * 24 * 365,
      months: 3600 * 24 * 30,
      weeks: 3600 * 24 * 7,
      days: 3600 * 24,
      hours: 3600,
      minutes: 60,
      seconds: 1
    };
    const secondsElapsed = (date.getTime() - Date.now()) / 1000;
    for (const key in ranges) {
      //@ts-ignore
      if (ranges[key] < Math.abs(secondsElapsed)) {
        //@ts-ignore
        const delta = secondsElapsed / ranges[key];
        //@ts-ignore
        return formatter.format(Math.round(delta), key);
      }
    }
  }
</script>